:root {
	--bgcolor: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: var(--bgcolor);
	color: rgb(255, 255, 255);
}
ul {
	list-style: none;
}
h1 {
	font-size: 5rem;
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
h1:hover {
	transform: skew(10deg);
}
h1::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
h1:hover::before {
	top: -3px;
	left: 0px;
	color: hotpink;
}

h1::after {
	content: "";
	height: 4px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: hotpink;
	transition: all 300ms ease;
}
h1:hover::after {
	width: 120%;
	outline: 5px solid rgb(2, 0, 36);
}


._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px hotpink;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px hotpink;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: hotpink;
	font-size: 1.75rem;
}
.a {
    color: #fafafa;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .containerrr {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbarr {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  
  .nav-containerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbarr .menu-itemss {
    display: flex;
  }
  
  .navbarr .nav-containerr li {
    list-style: none;
  }
  
  .navbarr .nav-containerr a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbarr .nav-containerr a:hover{
      font-weight: bolder;
  }
  
  .nav-containerr {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-containerr .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-containerr .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-containerr .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-containerr .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-containerr .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-containerr .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbarr .menu-itemss {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbarr .menu-itemss li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logoo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-containerr input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-containerr input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-containerr input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-containerr input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-containerr input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  